@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600");
/* -----------------------------------------
    ## Default styles
----------------------------------------- */
.nds {
  -webkit-font-smoothing: antialiased;
  color: #011e38;
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
}
.nds * {
  box-sizing: border-box;
}
.nds code {
  font-family: "IBM Plex Mono", monospace;
}
.nds img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* -----------------------------------------
    ## Alerts
----------------------------------------- */
.Alert {
  border-radius: 4px;
  border-left: 4px solid #216beb;
  padding: 16px;
  background: #e1ebfa;
  display: flex;
  max-width: 432px;
}
.Alert__icon {
  fill: #216beb;
}
.Alert a {
  color: #011e38;
}

.Alert__title {
  margin: 0;
  font-weight: 600;
}

.Alert__message {
  margin-top: 0;
}
.Alert__message:last-child {
  margin-bottom: 0;
}

.Alert--danger__icon,
.Alert--success__icon {
  margin-right: 8px;
}

.Alert--danger {
  border-radius: 4px;
  border-left: 4px solid #cc1439;
  padding: 16px;
  background: #fae6ea;
}
.Alert--danger__icon {
  fill: #cc1439;
}
.Alert--danger a {
  color: #011e38;
}

.Alert--success {
  border-radius: 4px;
  border-left: 4px solid #008059;
  padding: 16px;
  background: #e9f7f2;
}
.Alert--success__icon {
  fill: #008059;
}
.Alert--success a {
  color: #011e38;
}

.Alert--warning {
  border-radius: 4px;
  border-left: 4px solid #ffbb00;
  padding: 16px;
  background: #fcf5e3;
}
.Alert--warning__icon {
  fill: #ffbb00;
}
.Alert--warning a {
  color: #011e38;
}

.Link {
  color: #216beb;
}
.Link:hover {
  cursor: pointer;
  color: #1254c7;
}

/* -----------------------------------------
    ## Error page
----------------------------------------- */
.ErrorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-top: 24px;
}

.ErrorPage__container {
  max-width: 432px;
  margin: 0 auto;
}

.ErrorPage__header {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .ErrorPage__header {
    margin-top: 80px;
  }
}
@media screen and (min-width: 1360px) {
  .ErrorPage__header {
    margin: 0;
  }
}

.ErrorPage__logo {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 1360px) {
  .ErrorPage__logo--with-homepage-link {
    margin-top: -32px;
  }
}

.ErrorPage__main {
  max-width: 432px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 1360px) {
  .ErrorPage__main {
    text-align: left;
  }
}
.ErrorPage__main .Alert {
  text-align: left;
}

.ErrorPage__footer {
  border-top: 1px solid #e4e7eb;
  padding-top: 16px;
  text-align: center;
  font-size: 14px;
  color: #434d59;
}

.Link--ErrorPage {
  color: #00438f;
  display: inline-block;
  margin-top: 16px;
}

.responsive-layout-switch-wrapper {
  flex-grow: 1;
}
@media screen and (min-width: 1360px) {
  .responsive-layout-switch-wrapper {
    display: flex;
    width: 672px;
    margin: 0 auto;
    align-items: center;
  }
}
