# yaml-language-server: $schema=https://json.schemastore.org/dependabot-2.0.json
---
version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "10:00"
      timezone: America/Toronto
    open-pull-requests-limit: 8
    rebase-strategy: disabled
    groups:
      storybook:
        patterns:
          - "storybook"
          - "@storybook/*"
      semantic-release:
        patterns:
          - "semantic-release"
          - "@semantic-release/*"
      eslint:
        patterns:
          - "eslint"
          - "eslint-*"
          - "@eslint/*"
          - "@typescript-eslint/*"
          - "typescript-eslint"
      cypress:
        patterns:
          - "cypress"
          - "cypress-*"
      vite:
        patterns:
          - "vite"
          - "vitest"
          - "@vitejs/*"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "10:00"
      timezone: America/Toronto
    open-pull-requests-limit: 8
    rebase-strategy: disabled
