{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "func-names": [
      "error"
    ],
    "import/extensions": [
      "error"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": true,
        "peerDependencies": false
      }
    ],
    "import/prefer-default-export": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "max-len": [
      "off"
    ],
    "no-else-return": [
      "off"
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ],
    "quote-props": [
      "off"
    ],
    "react/button-has-type": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "off"
    ],
    "react/jsx-one-expression-per-line": [
      "off"
    ],
    "react/jsx-uses-react": [
      "warn"
    ],
    "react/jsx-max-props-per-line": [
      "off"
    ],
    "react/prefer-stateless-function": [
      "off"
    ],
    "react/require-extension": [
      "off"
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}