{
  "parser": "@typescript-eslint/parser",
  "extends": ["@nulogy/nulogy"],
  "rules": {
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "{}": false
        }
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": [],
        "labelAttributes": ["labelText"],
        "controlComponents": ["FieldLabel"],
        "assert": "either"
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["as", "to"]
      }
    ],
    "react/display-name": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    // Do not mark formatting violations as errors
    "prettier/prettier": 0
  }
}
