require('./localTokens.js');
require('./localTokens.js').size;

html {
  font-family: $fontFamily;
}

.local {
  &_vars {
    font-family: $fontFamily;
    line-height: $line;
    color: pink;
    font-size: $x4;
  }
}

.npm {
  &_vars {
    font-family: $fontFamily;
    line-height: $line;
    color: pink;
    font-size: $x4;
  }
}