require('./localTokens.js');
require('./localTokens.js').size;
require('./localTokens.js').colours;

.sass {
  font-family: $fontFamily;

  code {
    background-color: $codeBg;
  }

  .local {
    &_vars {
      font-family: $fontFamily;
      line-height: $line;
      color: $sassColour;
      font-size: $x4;
    }
  }
}