#{$namespace} {
  &clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  &vertical-align--top {
    vertical-align: top;
  }
  &vertical-align--middle {
    vertical-align: middle;
  }
  &vertical-align--bottom {
    vertical-align: bottom;
  }

  &no-underline {
    text-decoration: none;
  }
}
