@include generate-breakpoint-prefixes {
  &clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  &vertical-align--top {
    vertical-align: top !important;
  }
  &vertical-align--middle {
    vertical-align: middle !important;
  }
  &vertical-align--bottom {
    vertical-align: bottom !important;
  }

  &no-underline {
    text-decoration: none !important;
  }
}
