.float-left {float: left}
.float-right {float: right;}

.block {display: block;}
.inline {display: inline !important;}
.inline-block {display: inline-block !important;}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}