#{$namespace} {
  &shadow--small {
    box-shadow: $shadow-box-small;
  }
  &shadow--medium {
    box-shadow: $shadow-box-medium;
  }
  &shadow--large {
    box-shadow: $shadow-box-large;
  }
  &shadow--focus {
    box-shadow: $shadow-focus;
  }
}
