@include generate-breakpoint-prefixes {
  &shadow--none {
    box-shadow: none !important;
  }
  &shadow--small {
    box-shadow: $shadow-box-small !important;
  }
  &shadow--medium {
    box-shadow: $shadow-box-medium !important;
  }
  &shadow--large {
    box-shadow: $shadow-box-large !important;
  }
  &shadow--focus {
    box-shadow: $shadow-focus !important;
  }
}
