$scale: (
  none: 0,
  half: $size-base-half,
  x1: $size-base-x-1,
  x2: $size-base-x-2,
  x3: $size-base-x-3,
  x4: $size-base-x-4,
  x5: $size-base-x-5,
  x6: $size-base-x-6,
  x8: $size-base-x-8
);

$properties: [ "margin", "padding" ];
$directions: [ "top", "right", "bottom", "left" ];

@each $name, $value in $scale {
  @each $property in $properties {
    @include generate-breakpoint-prefixes {
      &#{$property}--#{$name} {
        #{$property}: $value !important;
      } // all
      &#{$property}--none {
        #{$property}: 0 !important;
      } // none
      @each $direction in $directions {
        &#{$property}-#{$direction}--#{$name} {
          #{$property}-#{$direction}: $value !important;
        }
      }
    }
  }
}

@include generate-breakpoint-prefixes {
  &w-0 {
    width: 0 !important;
  }
  &w-1 {
    width: 1% !important;
  }
  &w-25 {
    width: 25% !important;
  }
  &w-33 {
    width: 33.33% !important;
  }
  &w-50 {
    width: 50% !important;
  }
  &w-66 {
    width: 66.66% !important;
  }
  &w-75 {
    width: 75% !important;
  }
  &w-99 {
    width: 99% !important;
  }
  &w-100 {
    width: 100% !important;
  }
  &w-auto {
    width: auto !important;
  }
}
