$scale: (
  none: 0,
  half: $size-padding-half,
  x1: $size-padding-x-1,
  x2: $size-padding-x-2,
  x3: $size-padding-x-3,
  x4: $size-padding-x-4,
  x6: $size-padding-x-6,
  x8: $size-padding-x-8,
);

$properties: ['margin', 'padding'];
$directions: ['top', 'right', 'bottom', 'left'];

@each $name, $value in $scale {
  @each $property in $properties {
    .#{$property}--#{$name} {#{$property}: $value !important;} // all
    .#{$property}--none {#{$property}: 0 !important;} // none
    @each $direction in $directions {
      .#{$property}-#{$direction}--#{$name} {#{$property}-#{$direction}: $value !important;}
    }
  }
}

