$scale: (
  none: 0,
  half: $size-padding-half,
  1x: $size-padding-x-1,
  2x: $size-padding-x-2,
  3x: $size-padding-x-3,
  4x: $size-padding-x-4,
  6x: $size-padding-x-6,
  8x: $size-padding-x-8,
);

@each $name, $value in $scale {
  .space-below--#{$name} {margin-bottom: $value !important;}
  .space-right--#{$name} {margin-right: $value !important;}
  .space-inside--#{$name} {padding: $value !important;}
  .space-inside-top--#{$name} {padding-top: $value !important;}
  .space-inside-bottom--#{$name} {padding-bottom: $value !important;}
  .space-inside-y--#{$name} {padding-top: $value !important; padding-bottom: $value !important;}
  .space-inside-left--#{$name} {padding-left: $value !important;}
  .space-inside-right--#{$name} {padding-right: $value !important;}
  .space-inside-x--#{$name} {padding-left: $value !important; padding-right: $value !important;}

  @media screen and (min-width: 800px){
    .space-below--#{$name}__l {margin-bottom: $value !important;}
    .space-right--#{$name}__l {margin-right: $value !important;}
    .space-inside--#{$name}__l {padding: $value !important;}
    .space-inside-top--#{$name}__l {padding-top: $value !important;}
    .space-inside-bottom--#{$name}__l {padding-bottom: $value !important;}
    .space-inside-y--#{$name}__l {padding-top: $value !important; padding-bottom: $value !important;}
    .space-inside-left--#{$name}__l {padding-left: $value !important;}
    .space-inside-right--#{$name}__l {padding-right: $value !important;}
    .space-inside-x--#{$name}__l {padding-left: $value !important; padding-right: $value !important;}
  }
}

