.font-size--smaller {font-size: $size-font-smaller !important;}
.font-size--small {font-size: $size-font-small !important;}
.font-size--medium {font-size: $size-font-medium !important;}
.font-size--large {font-size: $size-font-large !important;}
.font-size--larger {font-size: $size-font-larger !important;}
.font-size--largest {font-size: $size-font-largest !important;}

.text--monospace {font-family: $font-family-base !important;}
