@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600");
@import "../../../../tokens/dist/_variables";
@import "../defaults";
@import "../components/alert";
@import "../components/link";

/* -----------------------------------------
    ## Error page
----------------------------------------- */

.ErrorPage {
  height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.ErrorPage__container {
  max-width: 480px;
  margin: 0 auto;
}

.ErrorPage__header {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 40px;
  @media screen and (min-width: $size-breakpoint-small) {
    margin-top: 80px;
    margin-bottom: 56px;
  }
  @media screen and (min-width: $size-breakpoint-large) {
    margin: 0;
  }
}

.ErrorPage__logo {
  display: block;
  margin: 0 auto;
  &--with-homepage-link {
    margin-top: -32px; // to align with Alert instead of container
  }
}

.ErrorPage__main {
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: $size-breakpoint-large) {
    text-align: left;
  }
  .Alert {
    text-align: left;
  }
}

.ErrorPage__footer {
  border-top: 1px solid $color-base-light-grey;
  padding-top: $size-base-x-2;
  text-align: center;
  font-size: $size-font-small;
  color: $color-base-dark-grey;
}

.Link--ErrorPage {
  color: $color-base-dark-blue;
  display: inline-block;
  margin-top: 16px;
}

.responsive-layout-switch-wrapper {
  flex-grow: 1; // to push footer to bottom of page
  @media screen and (min-width: $size-breakpoint-large) {
    display: flex;
    width: 720px; // 480px for alert + 200px for logo + 40px space in between
    margin: 0 auto;
    align-items: center;
  }
}
