@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600");
@import "../../../../tokens/dist/_variables";
@import "../defaults";
@import "../components/alert";
@import "../components/link";

/* -----------------------------------------
    ## Error page
----------------------------------------- */

$error-page-width: 432px;

.ErrorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: $size-base-x-2;
  padding-top: $size-base-x-3;
}

.ErrorPage__container {
  max-width: $error-page-width;
  margin: 0 auto;
}

.ErrorPage__header {
  text-align: center;
  margin-top: $size-base-x-2;
  margin-bottom: $size-base-x-5;
  @media screen and (min-width: $size-breakpoint-small) {
    margin-top: 80px;
  }
  @media screen and (min-width: $size-breakpoint-large) {
    margin: 0;
  }
}

.ErrorPage__logo {
  display: block;
  margin: 0 auto;
  &--with-homepage-link {
    @media screen and (min-width: $size-breakpoint-large) {
      margin-top: -32px; // to align with Alert instead of container
    }
  }
}

.ErrorPage__main {
  max-width: $error-page-width;
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: $size-breakpoint-large) {
    text-align: left;
  }
  .Alert {
    text-align: left;
  }
}

.ErrorPage__footer {
  border-top: 1px solid $color-base-light-grey;
  padding-top: $size-base-x-2;
  text-align: center;
  font-size: $size-font-small;
  color: $color-base-dark-grey;
}

.Link--ErrorPage {
  color: $color-base-dark-blue;
  display: inline-block;
  margin-top: $size-base-x-2;
}

.responsive-layout-switch-wrapper {
  flex-grow: 1; // to push footer to bottom of page
  @media screen and (min-width: $size-breakpoint-large) {
    display: flex;
    width: 672px; // 432px for alert + 200px for logo + 40px space in between
    margin: 0 auto;
    align-items: center;
  }
}
