{
  "parser": "babel-eslint",
  "extends": ["../.eslintrc"],
  "rules": {
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["Field"],
      "labelAttributes": ["Label", "Switch"],
      "controlComponents": ["Input", "RadioGroup", "Select", "Toggle", "Checkbox"],
      "assert": "both"
    }]
  }
}

