{
  "parser": "babel-eslint",
  "extends": ["../.eslintrc"],
  "rules": {
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": [],
      "labelAttributes": ["labelText"],
      "controlComponents": ["FieldLabel"],
      "assert": "either"
    }]
  }
}

