/* -----------------------------------------
    ## Checkbox
----------------------------------------- */

.Checkbox {
  display: flex;
  width: auto;
  user-select: none;
  align-items: center;
  padding: $size-base-x-1 0;
}

.Checkbox__input {
  cursor: pointer;
  height: $size-base-x-2;
  width: $size-base-x-2;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid $color-base-grey;
  border-radius: $radius-border-small;
  background-color: $color-base-white;
  position: relative;
  margin: 0;
  outline: none;
  &:focus {
    box-shadow: $shadow-focus;
  }
  &:checked {
    border: 1px solid $color-base-dark-blue;
    background-color: $color-base-dark-blue;
  }
  &:checked:before {
    content: " ";
    display: block;
    position: absolute;
    left: 4px;
    width: 3px;
    height: 9px;
    border-radius: 1px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    text-align: center;
    color: #fff;
  }
  &:disabled {
    cursor: default;
    border: 1px solid $color-base-light-grey;
    background-color: $color-base-white-grey;

    &:checked {
      border: 1px solid $color-base-light-grey;
      background-color: $color-base-light-grey;
    }
    & + .Checkbox__text {
      cursor: default;
      opacity: 0.33;
    }
  }
}

.Checkbox__text {
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: $size-base-x-1;
  font-size: $size-base-x-2;
  line-height: 1.5;
}

.Checkbox--error {
  .Checkbox__input {
    border: 1px solid $color-base-red;
    &:checked {
      border: 1px solid $color-base-red;
      background-color: $color-base-red;
    }
  }
}
