.Overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: $z-index-overlay;
  background-color: transparentize($color-base-black-blue, 0.5);
}

.Overlay--light {
  background-color: transparentize($color-base-white, 0.05);
}
