.nds-datepicker .react-datepicker__header {
  background-color: white;
  border-bottom: none;
}

.nds-datepicker .react-datepicker__triangle {
  display: none;
}
.nds-datepicker .react-datepicker-popper[data-placement^="bottom"] {
  margin-top: 0;
}

.nds-datepicker .react-datepicker {
  outline: "none";
  border-color: #216beb;
  box-shadow: 0px 0px 5px 0px rgba(33, 107, 235, 0.9);
}

.nds-datepicker .react-datepicker__day-name {
  text-transform: uppercase;
  font-size: 10px;
}

.nds-datepicker .react-datepicker__day--outside-month {
  color: grey;
}
