body{
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1{
  font-size:1.5em;
  line-height: 1;
}

h2{
  font-size:1.25em;
  line-height: 1;
}

p{
  font-size:.875em;
  line-height:1.5;
}
