// UI - General
$ui-unit: 8px;
$ui-unit-x2: 16px;
$ui-unit-x4: 32px;
$ui-unit-x8: 64px;
$ui-unit-half: 4px;
$ui-border-radius: 3px;
$shadow-1: 0px 3px 10px 0px rgba(218,218,230,.75);
$shadow-2: 0px 3px 20px 0px rgba(218,218,230,.95);

// Nu7

$ui-100: #FFF;

$grey-200: #F7F7F7;
$grey-300: #EBEBEB;
$grey-400: #D2D3D4;
$grey-500: #A9B1B8;
$grey-600: #6C7780;
$grey-700: #525D66;
$grey-800: #263540;

$blue-200: #F0F3F5;
$blue-300: #DDE8ED;
$blue-400: #BDD0DB;
$blue-500: #8AAABF;
$blue-600: #1C6AA6; // Nu Blue
$blue-700: #1B447D;
$blue-800: #1B2B4D;

$yellow-200: #F5F3F0;
$yellow-300: #F2EADA;
$yellow-400: #F2DEB3;
$yellow-500: #F2CE79;
$yellow-600: #F0B41C; // Nu Yellow
$yellow-700: #CC9423;
$yellow-800: #B3751E;

$green-200: #EBF5F3;
$green-300: #C1E8E0;
$green-400: #8CD4C5;
$green-500: #60B3A2;
$green-600: #2b8466; //
$green-700: #105e3e;
$green-800: #053a1f;

$red-200: #F7EDED;
$red-300: #F2CBCD;
$red-400: #EDABB2;
$red-500: #D9848E;
$red-600: #D93B5D; //
$red-700: #94153F;
$red-800: #6B052E;

$ui-900: #03101A;


$white: $ui-100;

$grey-lightest: $grey-200;
$grey-lighter: $grey-300;
$grey-light: $grey-400;
//$grey: $grey-500;
$grey-dark: $grey-600;
$grey-darker: $grey-700;
$grey-darkest: $grey-800;

$blue-lightest: $blue-200;
$blue-lighter: $blue-300;
$blue-light: $blue-400;
//$blue: $blue-500;
$blue-dark: $blue-600;
$blue-darker: $blue-700;
$blue-darkest: $blue-800;

//$yellow-lightest: $yellow-200;
//$yellow-lighter: $yellow-300;
//$yellow-light: $yellow-400;
//$yellow: $yellow-500;
$yellow-dark: $yellow-600;
$yellow-darker: $yellow-700;
//$yellow-darkest: $yellow-800;

$green-lightest: $green-200;
$green-lighter: $green-300;
//$green-light: $green-400;
//$green: $green-500;
$green-dark: $green-600;
$green-darker: $green-700;
$green-darkest: $green-800;

$red-lightest: $red-200;
$red-lighter: $red-300;
//$red-light: $red-400;
//$red: $red-500;
$red-dark: $red-600;
$red-darker: $red-700;
$red-darkest: $red-800;

$black: $ui-900;


//$nu7-light: #C9CFD4;
