@include generate-breakpoint-prefixes {
  &rounded-corners {
    border-radius: $radius-border-medium !important;
  }
  &rounded-top-corners {
    border-top-left-radius: $radius-border-medium !important;
    border-top-right-radius: $radius-border-medium !important;
  }
  &rounded-corners--small {
    border-radius: $radius-border-small !important;
  }
}

$border-colors: (
  black: $color-base-black,
  black-blue: $color-base-black-blue,
  dark-blue: $color-base-dark-blue,
  blue: $color-base-blue,
  light-blue: $color-base-light-blue,
  dark-grey: $color-base-dark-grey,
  base-grey: $color-base-grey,
  light-grey: $color-base-light-grey,
  transparent: transparent
);

$border-directions: [ "top", "right", "bottom", "left" ];

@mixin border-modifiers() {
  @each $name, $hex in $border-colors {
    &--#{$name} {
      border: 1px solid $hex !important;
    }
    @each $direction in $border-directions {
      &-#{$direction}--#{$name} {
        border-#{$direction}: 1px solid $hex !important;
      }
    }
  }
}

@include generate-breakpoint-prefixes {
  &border {
    &-none {
      border: none;
    }
    @include border-modifiers();
  }
}
