$colors: (
  black: $color-base-black,
  black-blue: $color-base-black-blue,
  dark-blue: $color-base-dark-blue,
  blue: $color-base-blue,
  light-blue: $color-base-light-blue,
  dark-grey: $color-base-dark-grey,
  base-grey: $color-base-grey,
  light-grey: $color-base-light-grey,
  white-grey: $color-base-white-grey,
  white: $color-base-white,
  yellow: $color-base-yellow,
  green: $color-base-green,
  red: $color-base-red
);

@mixin color-modifiers($attribute) {
  @each $name, $hex in $colors {
    &--#{$name} {
      #{$attribute}: $hex !important;
    }
  }
}

/* Text colour and background modifiers
  .text--light-green {color: light-green;)
  .background--light-green {color: background-green;)
*/

@include generate-breakpoint-prefixes {
  &text {
    @include color-modifiers($attribute: "color");
  }
  &background {
    @include color-modifiers($attribute: "background");
  }
}
