@include generate-breakpoint-prefixes {
  &flex {
    display: flex;
  }

  &flex--row {
    flex-direction: row;
  }
  &flex--row-reverse {
    flex-direction: row-reverse;
  }
  &flex--column {
    flex-direction: column;
  }
  &flex--column-reverse {
    flex-direction: column-reverse;
  }

  &flex--wrap {
    flex-wrap: wrap;
  }
  &flex--wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  &flex--nowrap {
    flex-wrap: nowrap;
  }

  &flex-grow-0 {
    flex-grow: 0;
  }
  &flex-grow-1 {
    flex-grow: 1;
  }

  // Horizontal alignment of items
  &flex--justify-start {
    justify-content: flex-start;
  }
  &flex--justify-end {
    justify-content: flex-end;
  }
  &flex--justify-center {
    justify-content: center;
  }
  &flex--justify-between {
    justify-content: space-between;
  }
  &flex--justify-around {
    justify-content: space-around;
  }
  &flex--justify-even {
    justify-content: space-evenly;
  }

  // Vertical alignment of items
  &flex--align-start {
    align-items: flex-start;
  }
  &flex--align-end {
    align-items: flex-end;
  }
  &flex--align-center {
    align-items: center;
  }
  &flex--align-baseline {
    align-items: baseline;
  }
  &flex--align-stretch {
    align-items: stretch;
  }

  @for $i from 1 through 10 {
    &order-#{$i} {
      order: $i;
    }
  }
}
