@include generate-breakpoint-prefixes {
  &float-left {
    float: left !important;
  }
  &float-right {
    float: right !important;
  }

  &clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  &block {
    display: block !important;
  }
  &inline {
    display: inline !important;
  }
  &inline-block {
    display: inline-block !important;
  }
}
