@include generate-breakpoint-prefixes {
  &font-size--smaller {
    font-size: $size-font-smaller !important;
  }
  &font-size--small {
    font-size: $size-font-small !important;
  }
  &font-size--medium {
    font-size: $size-font-medium !important;
  }
  &font-size--large {
    font-size: $size-font-large !important;
  }
  &font-size--larger {
    font-size: $size-font-larger !important;
  }
  &font-size--largest {
    font-size: $size-font-largest !important;
  }

  &font-family--base {
    font-family: $font-family-base !important;
  }
  &font-family--monospace {
    font-family: $font-family-mono !important;
  }

  &font-weight--normal {
    font-weight: $weight-font-normal !important;
  }
  &font-weight--medium {
    font-weight: $weight-font-medium !important;
  }
  &font-weight--bold {
    font-weight: $weight-font-bold !important;
  }

  &text-align--left {
    text-align: left !important;
  }
  &text-align--center {
    text-align: center !important;
  }
  &text-align--right {
    text-align: right !important;
  }
}
