/* -----------------------------------------
    ## Alerts
----------------------------------------- */

@mixin alert($borderColor, $backgroundColor) {
  border-radius: $radius-border-medium;
  border-left: $size-base-half solid $borderColor;
  padding: $size-base-x-2;
  background: $backgroundColor;

  &__icon {
    fill: $borderColor;
  }

  a {
    color: $color-base-black;
  }
}

.Alert {
  @include alert($color-base-blue, $color-base-light-blue);
}

.Alert__title {
  margin: 0;
  font-weight: $weight-font-bold;
}

.Alert__message {
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.Alert--danger__icon,
.Alert--success__icon {
  margin-right: $size-base-x-1;
}

.Alert__close-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  height: 20px;
  padding: 0;
}

// Variations

.Alert--danger {
  @include alert($color-base-red, $color-base-light-red);
}

.Alert--success {
  @include alert($color-base-green, $color-base-light-green);
}

.Alert--warning {
  @include alert($color-base-yellow, $color-base-light-yellow);
}
