@mixin alert($borderColor, $backgroundColor) {
  @extend .nds-clearfix;

  border-radius: $radius-border-medium;
  border-left: $size-base-half solid $borderColor;
  padding: $size-base-x-2;
  background: $backgroundColor;

  &__icon {
    fill: $borderColor;
  }
}

.Alert {
  @include alert($color-base-blue, $color-base-light-blue);
}

.Alert__title {
  margin: 0;
  font-weight: $weight-font-bold;
}

.Alert__message {
  margin: 0;
}

.Alert__content {
  float: left;
}

.Alert--danger__icon,
.Alert--success__icon {
  float: left;
  margin-right: $size-base-x-1;
}

/* -----------------------------------------
    ## Variations
----------------------------------------- */

.Alert--danger {
  @include alert($color-base-red, $color-base-light-red);
}

.Alert--success {
  @include alert($color-base-green, $color-base-light-green);
}

.Alert--warning {
  @include alert($color-base-yellow, $color-base-light-yellow);
}

// temporarily putting styles here for ErrorPage

.ErrorPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

.ErrorPage__header {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}

.ErrorPage__logo {
  display: block;
  margin: 0 auto;
}

.ErrorPage__main {
  flex-grow: 1;
}

.ErrorPage__footer {
  border-top: 1px solid $color-base-light-grey;
  padding-top: $size-base-x-2;
  text-align: center;
}
