/* -----------------------------------------
    ## Card
----------------------------------------- */

.Card {
  background-color: $color-base-white-grey;
  border-radius: $radius-border-medium;
  padding: $size-base-x-2;
  position: relative;
  box-shadow: $shadow-box-small;
}
