/* -----------------------------------------
    ## NDSDemoPage
----------------------------------------- */

.NDSDemoPage {
  min-height: 1000px;
  width: 100%;
  &__sidebar {
    border-left: 1px solid #eee;
    width: 30%;
  }
}
