%input-styles {
  width: 100%;
  font-family: $font-family-base;
  color: $color-base-black;
  font-size: 16px;
  display: block;
  padding: ($size-base-x-1)-1;
  flex-grow: 1;
  border: 1px solid $color-base-grey;
  border-radius: $radius-border-medium;
  padding: $size-base-x-1;
  line-height: $line-height-base;
  margin: 0;
  min-height: $size-base-x-5;

  &:focus {
    outline: none;
    color: $color-base-black;
    border: 1px solid $color-base-blue;
    box-shadow: $shadow-focus;
  }
}

/* -----------------------------------------
    ## Inputs
----------------------------------------- */

.Label {
  font-size: $size-font-small;
  font-weight: bold;
  line-height: $line-height-small-text-base;
}

.Textarea {
  @extend %input-styles;
}

.Input {
  @extend %input-styles;
}

.Textarea:disabled,
.Input:disabled {
  color: transparentize($color-base-black, 0.6667);
  border-color: $color-base-light-grey;
}

.Textarea--error,
.Input--error {
  color: $color-base-red;
  border-color: $color-base-red;
  &:focus {
    border-color: $color-base-red;
    box-shadow: $shadow-error;
  }
}

.Form input,
.Form textarea {
  margin-bottom: $size-base-x-2;
}
