%input-styles {
  width: 100%;
  font-family: $font-family-base;
  color: $color-base-black;
  font-size: 16px;
  display: block;
  padding: ($size-base-x-1)-1;
  flex-grow: 1;
  border: 1px solid $color-base-grey;
  border-radius: $radius-border-medium;
  padding: $size-base-x-1;
  line-height: $line-height-base;
  margin: 0;
  min-height: $size-base-x-5;
  margin-top: $size-base-x-1;

  &:focus {
    outline: none;
    color: $color-base-black;
    border: 1px solid $color-base-blue;
    box-shadow: $shadow-focus;
  }
}

/* -----------------------------------------
    ## Inputs
----------------------------------------- */

.Label {
  font-size: $size-font-small;
  font-weight: bold;
  line-height: $line-height-small-text-base;
  &__requirement-text {
    font-size: $size-font-smaller;
    color: $color-base-dark-grey;
    margin-left: $size-base-x-1;
    line-height: $line-height-base;
    font-weight: $weight-font-normal;
  }
  &__help-text {
    display: block;
    margin: 0;
    font-size: $size-font-small;
    font-weight: $weight-font-normal;
  }
}

.Textarea {
  @extend %input-styles;
}

.Input {
  @extend %input-styles;
}

.Textarea:disabled,
.Input:disabled {
  color: transparentize($color-base-black, 0.6667);
  border-color: $color-base-light-grey;
  background-color: $color-base-white-grey;
}

.Textarea--error,
.Input--error {
  color: $color-base-red;
  border-color: $color-base-red;
  &:focus {
    border-color: $color-base-red;
    box-shadow: $shadow-error;
  }
}

.Input__error-text,
.Textarea__error-text,
.Select__error-text {
  display: flex;
  color: $color-base-red;
  font-weight: $weight-font-normal;
  font-size: $size-font-medium;
}

.Input__error-icon,
.Textarea__error-icon,
.Select__error-icon {
  margin-right: $size-base-x-1;
}

.Select {
  @extend %input-styles;
}

.Form {
  .Input,
  .Textarea,
  .Select,
  .Toggle,
  fieldset {
    margin-bottom: $size-base-x-2;
  }

  // reset browser defaults

  fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
    border: 0;
    margin-block-start: 0;
  }

  legend {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

/* -----------------------------------------
    ## Form Headings
----------------------------------------- */

.Form__heading {
  margin-top: 0px;
  margin-bottom: $size-base-x-2;
  font-weight: $weight-font-medium;
  font-size: $size-font-larger;
  line-height: 1.23077;
  margin-bottom: $size-base-x-6;
}

.Form__section-heading {
  margin-bottom: $size-base-x-3;
  padding: 0px;
  font-weight: $weight-font-medium;
  font-size: $size-font-large;
  line-height: 1.2;
}

/* -----------------------------------------
    ## Form Section
----------------------------------------- */

.Form__section {
  // legend reset
  border: none;
  padding: 0;
  margin: 0;
  //
  margin-bottom: $size-base-x-6;
}
