/* -----------------------------------------
    ## Status Indicator
----------------------------------------- */

@mixin statusIndicator($font, $background) {
  background: $background;
  color: $font;
  display: inline-flex;
  margin-right: 0 0 0 $size-base-half;
  padding: 0 $size-base-x-1;
  font-size: $size-font-smaller;
  text-transform: uppercase;
  font-weight: $weight-font-bold;
  letter-spacing: 0.05em;
  line-height: $line-height-smaller-text;
  border-radius: 8px;
}

.StatusIndicator {
  &--neutral {
    @include statusIndicator(
      $background: $color-base-light-grey,
      $font: $color-base-dark-grey
    );
  }
  &--quiet {
    @include statusIndicator(
      $background: transparent,
      $font: $color-base-dark-grey
    );
  }
  &--informative {
    @include statusIndicator(
      $background: $color-base-blue,
      $font: $color-base-white
    );
  }
  &--success {
    @include statusIndicator(
      $background: $color-base-green,
      $font: $color-base-white
    );
  }
  &--warning {
    @include statusIndicator(
      $background: $color-base-yellow,
      $font: $color-base-dark-grey
    );
  }
  &--danger {
    @include statusIndicator(
      $background: $color-base-red,
      $font: $color-base-white
    );
  }
}
