.Table {
  border-collapse: collapse;
  width: 100%;
  background: white;
}

.Table__row {
  padding-left: $size-base-x-2;
  color: $color-base-dark-grey;
  text-align: left;
}

.Table__heading {
  font-weight: $weight-font-normal;
  padding: $size-base-x-2;
  border-bottom: 1px solid $color-base-light-grey;
}

.Table__cell {
  padding: $size-base-x-2;
}

table tbody .Table__row:hover {
  .Table__cell {
    background: $color-base-white-grey;
  }
}

.Table--compact {
  .Table__row {
    padding-left: $size-base-x-2;
  }
  .Table__heading {
    padding: $size-base-x-1;
  }
  .Table__cell {
    padding: $size-base-x-1;
  }
}

.Table__message {
  margin: 0;
  font-size: $size-font-small;
  color: $color-base-dark-grey;
  padding: $size-base-x-3 0;
}

.Table__heading--selectable {
  width: 30px;
}

.Table__section {
  background-color: $color-base-light-blue;
  padding: $size-base-x-1 $size-base-x-2;
  font-weight: $weight-font-bold;
  color: $color-base-black-blue;
}

.Table__footer {
  border-top: 1px solid $color-base-light-grey;
  &-heading {
    font-weight: $weight-font-normal;
    padding: $size-base-x-2;
  }
}
