/* -----------------------------------------
    ## Typography
----------------------------------------- */

.Title {
  font-size: $size-font-page-title;
  font-weight: $weight-font-light;
  margin-top: 0;
  margin-bottom: $size-base-x-6;
}

.SectionTitle {
  font-size: $size-font-section-title;
  font-weight: $weight-font-bold;
}

.SubsectionTitle {
  font-size: $size-font-subsection-title;
  font-weight: $weight-font-bold;
}
