@import 'Bgrs/reset';
@import 'Bgrs/variables';
@import 'Bgrs/typography';
@import 'Bgrs/utilities';


.nav-bar{
  background: $grey-lighter;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.content-wrapper{
  display: flex;
  height: 100vh;
  position: relative;
  padding-top: 60px;
}

.sidebar{
  background: $grey-lightest;
  width: 20%;
}

.content{
  width: 80%;
  background: $white;
  box-shadow: $shadow-1;
  margin-top: $ui-unit-half;
  z-index:100;
}

.button{
  &--float{
    position: fixed;
    z-index: 200;
    right: $ui-unit-x2;
    bottom: $ui-unit-x2;
    padding: $ui-unit;
    font-size: 32px;
    line-height: 1;
    width: 52px;
    height: 52px;
    border-radius: $ui-border-radius;
    background: $yellow-dark;
    color: $white;
    box-shadow: $shadow-2;
    cursor: pointer;
    &:hover{
      background: $yellow-darker;
    }
  }
}

.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:100vw;
  position: absolute;
  top:0;
  left:0;
  z-index:300;
  padding:0;
  margin:0;
  pointer-events: none;
  .modal__box{
    background: $white;
    width: 640px;
    //border:solid 1px $grey-light;
    border:solid 1px $blue-light;
    border-radius: $ui-border-radius;
    overflow: hidden;
    box-shadow: $shadow-2;
  }
  .modal__title{
    height: $ui-unit-x4;
    padding:0;
    margin:0;
  }
  .modal__content{
    height: 360px;
  }
}

.action-set{
  display: flex;
  &__button{
    height: $ui-unit-x8;
    width: 100%;
    background: none;
    border:none;
    cursor: pointer;
    .fly-in &{
      width: 100%;
      height: 50%;
    }
    &--positive{
      background-color: $blue-dark;
      border-radius: 0 0 $ui-border-radius 0;
      &:hover{
        background-color: $blue-darker;
      }
    }
    &--destructive{
      background: $blue-lightest;
      border-radius: 0 $ui-border-radius 0 0;
      &:hover{
        background: $blue-lighter;
      }
    }
  }
  .fly-in &{
    flex-direction: column;
    width:96px;
    height:100%;
  }
}

.fly-in{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border:solid 1px $grey-light;
  border-radius: $ui-border-radius;
  height: 66px;
  position: absolute;
  right: $ui-unit-x2;
  top: 72px;
  z-index: 400;
  padding:0;
  box-shadow: $shadow-2;
  .fly-in__type{
    width: $ui-unit-x2;
    background-color: $blue-dark;
    height:100%;
    width: 36px;
    border-radius: $ui-border-radius 0 0 $ui-border-radius;
  }
  .fly-in__content{
    width: 360px;
    height: 100%;
    background-color: $white;
  }
}

.drop-down{
  width: 120px;
  border: solid 1px $grey-light;
  border-radius: $ui-border-radius;
  background: $white;
  margin: -20px 40px 0 -20px;
  @extend .unlist;
  float: left;
  position: relative;
  &__item{
    font-size: .875em;
    padding:0;
    margin:0;
  }
  &__link{
    text-decoration: none;
    display:block;
    padding: $ui-unit;
    &:hover{
      cursor: pointer!important;
    }
  }
  &--dark &{
    &__link{
      background: $grey-darker;
      color: $white;
      &:hover{
        background-color: $grey-darkest;
      }
    }
  }
  &--dark {
    border: solid 1px $grey-darker;
    .drop-down__item:first-child a{
      border-bottom: solid 1px $grey-dark;
    }
  }
  &--blue &{
    &__link{
      background: $blue-dark;
      color: $white;
      &:hover{
        background-color: $blue-darker;
      }
    }
  }
  &--blue {
    border: solid 1px $blue-darker;
    .drop-down__item:first-child a{
      border-bottom: solid 1px $blue-darker;
    }
  }
  &--light{
    .drop-down__link{
      background: $grey-lightest;
      color: $grey-darkest;
      &:hover{
        background: $grey-lighter;
      }
    }

    .drop-down--item:first-child a{
      border-bottom: solid 1px $grey-light;
    }
  }
}
