html, body { 
	margin: 0
}

* {box-sizing: border-box;}

body {
	font-family: $font-family-base;
	line-height: 1.5;
}

code {
	font-family: $font-family-mono;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
