// Modified from https://raw.githubusercontent.com/buzzfeed/solid/master/_lib/solid-helpers/_mixins.scss

$breakpoints: (
  xs: null,
  sm: $size-breakpoint-small,
  md: $size-breakpoint-medium,
  lg: $size-breakpoint-large,
  xl: $size-breakpoint-extra-large
);

// returns the apropriate media query for the given breakpoint name
@mixin breakpoint($breakpoint) {
  @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
    @content;
  }
}

// nest content inside breakpoint prefix classes in the appropriate media query block
@mixin generate-breakpoint-prefixes {
  // generate nds prefixed and responsive suffixed classes
  @each $breakpoint-name, $breakpoint-value in $breakpoints {
    // for xs, don't prefix anything
    @if $breakpoint-name == "xs" {
      .nds- {
        @content;
      }
    }
    // otherwise, add all the breakpoints
    @else {
      @include breakpoint($breakpoint-name) {
        .nds\@#{$breakpoint-name}- {
          @content;
        }
      }
    }
  }
}
