{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:jsx-a11y/recommended", "../.eslintrc"],
  "rules": {
    "react/no-unescaped-entities": ["off"],
    "max-len": ["off"],
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "plugins": ["react", "jsx-a11y", "import"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.base.config.js"
      }
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  }
}
