# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: Chromatic
on:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # INTENTIONAL!

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version-file: ".tool-versions"

      - name: Install dependencies
        run: pnpm install

      - name: Cache Cypress
        uses: actions/cache/save@v4
        id: cache-cypress-save
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-node-modules-${{ hashFiles('client/pnpm-lock.yaml') }}

      - name: Build Storybook
        run: pnpm build:storybook

      - uses: chromaui/action@v13
        with:
          projectToken: ${{ secrets.CHROMATIC_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}
          storybookBuildDir: "storybook-static"
          exitOnceUploaded: true
          onlyChanged: true
