name: Chromatic
on:
  push:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # INTENTIONAL!

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: "yarn"
          node-version-file: ".nvmrc"

      - name: Install dependencies
        run: yarn

      - name: Build Storybook
        run: yarn build:storybook

      - uses: chromaui/action@v13
        with:
          projectToken: ${{ secrets.CHROMATIC_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}
          storybookBuildDir: "storybook-static"
          exitOnceUploaded: true
