# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: Release
on:
  push:
    branches:
      - main
      - next
      - beta
jobs:
  release:
    name: Release
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: "pnpm"
          node-version-file: ".tool-versions"

      - name: Install dependencies
        run: pnpm install

      - name: Cache Cypress
        uses: actions/cache/save@v4
        id: cache-cypress-save
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-node-modules-${{ hashFiles('client/pnpm-lock.yaml') }}

      - name: Build
        run: pnpm build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release@24
